@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&display=swap');
.flex-container{
    display: flex;
}

.left{
    border: 3px;
    border-style: solid;
    border-color: aqua;
    /* height: 150px; */
    height: auto;
    /* width: 150px; */
    width: 30%;
    background-color: aliceblue;
    /* border-radius: 50%; */
    /* margin-right: 10px */
    margin:0px;
}

.right{
    border: 3px;
    border-style:dotted;
    border-color:blue;
    /* height: 150px; */
    height: auto;
    /* width: 150px; */
    width: 70%;
    background-color:bisque;
    /* margin-right: 10px; */
    margin:0px;
}

img{
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 3px;
}

h1{
    font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
}